# Ignore some files
.idea
.cache
*.retry
.venv/

# Ansible files
collections_external/

# Terra files
.terraform/
.terraform.lock.hcl
terraform.tokens
terraform.tfstate.backup

# Vagrant files
.vagrant/
vagrant/*.log
