# Ignore some files
.idea
.cache
*.retry

vagrant/*.log
/vagrant/.vagrant/

/ansible/external_collections/
/ansible/external_roles/
*.retry

/.py-env/
/.venv/
/ansible/.venv/
ansible/collections/external/

*.swp

/tmp/
/.env
