<?xml version="1.0" encoding="utf-8"?>
<service>
  <short>INFLUXDB</short>
  <description>Open port for influxdb</description>
  <port protocol="tcp" port="{{ firewall__influxdb_port }}"/>
</service>
