#{{ ansible_managed }}
[Unit]
After=network.target local-fs.target postgresql.service
Description=H5radar radar api service based on spring boot
Wants=postgresql.service

[Service]
Type=simple
User={{ h5radar_api__user }}
Group={{ h5radar_api__group }}
WorkingDirectory={{ h5radar_api__release_path }}/target
SyslogIdentifier=h5radar_radar
TimeoutSec=5min
Restart=on-failure
RestartSec=5s
SuccessExitStatus=143
ExecStart=java -jar {{ h5radar_api__release_path }}/target/radar-{{ h5radar_api__version }}.jar
ExecStop=/bin/kill -15 $MAINPID

[Install]
WantedBy=multi-user.target
