<?xml version="1.0" encoding="utf-8"?>
<service>
  <short>KAPACITOR</short>
  <description>Open port for kapacitor</description>
  <port protocol="tcp" port="{{ firewall__kapacitor_port }}"/>
</service>
